html,
body,
h1,
#target,
#instruction,
#total-score {
    background-image: url("../images/background5.png");

}

h1 {
    color: white;
}

p {
    color: white;

}

.crystals {
    border-width: 0;
    margin: 10px;
    padding: 0;
}

#instruction {
    margin: 10px;

}

#target,
#total-score {
    padding: 10px;
    margin: 10px;
    color: rgb(196, 21, 21)
}

#total-score {
    padding-left: 20px;
}